<h1> Calculate Square Root </h1>

<form action = "/square_root/results"
  
  <div>
    <label for ="input_number"> Enter a number </label>
    <input id = "input_number" text = "text" name = "user_number" placeholder = "What number do you want to do square root?">

  </div>

  <button>
    Calculate square root
  </button>

</form>
